body {
    font-family: 'Times New Roman';
    background-image: url('weatherApp.jpg');
    
}
h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
  .button1 {
    background-color:grey; 
    color: white; 
    border: 2px solid white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px; 
  }
  .button1:hover {
    background-color: lightskyblue;
    color: white;
  }
  input[type=text] {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
  }
  #weatherContainer {
      font-size: 16px;
      
  }
  span{
      font-weight: bold;
  }
  #temp{
      font-size: 20px;
      background-color: yellow;
  }
  .inputDiv{
      background-image: linear-gradient(to right, grey,skyblue,rgb(228, 187, 100),lightblue,lightgrey);
      border: 1px solid grey;
    }
  label{
      margin: 4px;
      color: white  ;
      font-weight: bold;
  }
  #cityInput{
      width: 35%;
  }
  .sign {
      text-align: center;
      color: grey
  }